h1{
    font-family: monospace;
    text-align: center;
}
.profile{
    width: 183px;
    height: 183px;
    background-image: url(https://t4.ftcdn.net/jpg/03/03/62/45/360_F_303624505_u0bFT1Rnoj8CMUSs8wMCwoKlnWlh5Jiq.jpg);
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    position: relative;
    margin: auto;

}
.notify{
    width: 30px;
    height: 30px;
    background-color: palevioletred;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10px;
    right: 15px;
    font-family: monospace;
}
.setname{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    column-gap: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.setimg{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    column-gap: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.text{
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-size: 20px;   
}
.box{
    display: flex;
    justify-content: center;
    column-gap: 10px;
}
table{
    width: 50%;
    border-collapse: collapse;
    border-spacing: 10px;
    margin: 20px 0;
    border: 2px solid black;
}
table tr{
    padding: 10px;
    text-align: center;
}
th {
    background-color: #e6b6ff;
    color: black;
}

